<main>
    <h1 class="page-title">Kartvizitler</h1>
    <p class="page-description">Bu ekranda kartvizitlerinizi yönetebilirsiniz</p>
    <hr>
    <div class="cards">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <mat-card class="card-item">
                    <mat-card-header>
                        <mat-card-title>{{cardItem.name}}</mat-card-title>
                        <mat-card-subtitle>{{cardItem.title}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{cardItem.phone}}</li>
                            <li class="list-group-item">{{cardItem.email}}</li>
                            <li class="list-group-item">{{cardItem.address}}</li>
                            <a href={{cardItem.Linkedln}} class="list-group-item">{{cardItem.Linkedln}}</a>
                            <a href={{cardItem.Github}} class="list-group-item">{{cardItem.Github}}</a>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <mat-card class="card-item">
                    <mat-card-header>
                        <mat-card-title>{{cardItem.name}}</mat-card-title>
                        <mat-card-subtitle>{{cardItem.title}}</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{cardItem.phone}}</li>
                            <li class="list-group-item">{{cardItem.email}}</li>
                            <li class="list-group-item">{{cardItem.address}}</li>
                            <a href={{cardItem.Linkedln}} class="list-group-item">{{cardItem.Linkedln}}</a>
                            <a href={{cardItem.Github}} class="list-group-item">{{cardItem.Github}}</a>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <mat-card class="card-item">
                    <mat-card-header>
                        <mat-card-title>{{cardItem.name}}</mat-card-title>
                        <mat-card-subtitle>{{cardItem.title}}</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{cardItem.phone}}</li>
                            <li class="list-group-item">{{cardItem.email}}</li>
                            <li class="list-group-item">{{cardItem.address}}</li>
                            <a href={{cardItem.Linkedln}} class="list-group-item">{{cardItem.Linkedln}}</a>
                            <a href={{cardItem.Github}} class="list-group-item">{{cardItem.Github}}</a>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <mat-card class="card-item">
                    <mat-card-header>
                        <mat-card-title>{{cardItem.name}}</mat-card-title>
                        <mat-card-subtitle>{{cardItem.title}}</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{cardItem.phone}}</li>
                            <li class="list-group-item">{{cardItem.email}}</li>
                            <li class="list-group-item">{{cardItem.address}}</li>
                            <a href={{cardItem.Linkedln}} class="list-group-item">{{cardItem.Linkedln}}</a>
                            <a href={{cardItem.Github}} class="list-group-item">{{cardItem.Github}}</a>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <mat-card class="card-item">
                    <mat-card-header>
                        <mat-card-title>{{cardItem.name}}</mat-card-title>
                        <mat-card-subtitle>{{cardItem.title}}</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{cardItem.phone}}</li>
                            <li class="list-group-item">{{cardItem.email}}</li>
                            <li class="list-group-item">{{cardItem.address}}</li>
                            <a href={{cardItem.Linkedln}} class="list-group-item">{{cardItem.Linkedln}}</a>
                            <a href={{cardItem.Github}} class="list-group-item">{{cardItem.Github}}</a>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <mat-card class="card-item">
                    <mat-card-header>
                        <mat-card-title>{{cardItem.name}}</mat-card-title>
                        <mat-card-subtitle>{{cardItem.title}}</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{cardItem.phone}}</li>
                            <li class="list-group-item">{{cardItem.email}}</li>
                            <li class="list-group-item">{{cardItem.address}}</li>
                            <a href={{cardItem.Linkedln}} class="list-group-item">{{cardItem.Linkedln}}</a>
                            <a href={{cardItem.Github}} class="list-group-item">{{cardItem.Github}}</a>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <mat-card class="card-item">
                    <mat-card-header>
                        <mat-card-title>{{cardItem.name}}</mat-card-title>
                        <mat-card-subtitle>{{cardItem.title}}</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{cardItem.phone}}</li>
                            <li class="list-group-item">{{cardItem.email}}</li>
                            <li class="list-group-item">{{cardItem.address}}</li>
                            <a href={{cardItem.Linkedln}} class="list-group-item">{{cardItem.Linkedln}}</a>
                            <a href={{cardItem.Github}} class="list-group-item">{{cardItem.Github}}</a>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <mat-card class="card-item">
                    <mat-card-header>
                        <mat-card-title>{{cardItem.name}}</mat-card-title>
                        <mat-card-subtitle>{{cardItem.title}}</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{cardItem.phone}}</li>
                            <li class="list-group-item">{{cardItem.email}}</li>
                            <li class="list-group-item">{{cardItem.address}}</li>
                            <a href={{cardItem.Linkedln}} class="list-group-item">{{cardItem.Linkedln}}</a>
                            <a href={{cardItem.Github}} class="list-group-item">{{cardItem.Github}}</a>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</main>