<main>
    <h1 class="page-title">Kartvizitler</h1>
    <p class="page-description">Bu ekranda kartvizitlerinizi yönetebilirsiniz</p>
    <hr>
    <div class="cards">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <mat-card class="card-item">
                    <mat-card-header>
                        <mat-card-title>{{cardItem.name}}</mat-card-title>
                        <mat-card-subtitle>{{cardItem.title}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://avatars.githubusercontent.com/u/32604562?v=4" alt="Ali Can Yücel">
                    <mat-card-content>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{cardItem.phone}}</li>
                            <li class="list-group-item">{{cardItem.email}}</li>
                            <li class="list-group-item">{{cardItem.address}}</li>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <mat-card class="card-item">
                    <mat-card-header>
                        <mat-card-title>{{cardItem.name}}</mat-card-title>
                        <mat-card-subtitle>{{cardItem.title}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://avatars.githubusercontent.com/u/32604562?v=4" alt="Ali Can Yücel">
                    <mat-card-content>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{cardItem.phone}}</li>
                            <li class="list-group-item">{{cardItem.email}}</li>
                            <li class="list-group-item">{{cardItem.address}}</li>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <mat-card class="card-item">
                    <mat-card-header>
                        <mat-card-title>{{cardItem.name}}</mat-card-title>
                        <mat-card-subtitle>{{cardItem.title}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://avatars.githubusercontent.com/u/32604562?v=4" alt="Ali Can Yücel">
                    <mat-card-content>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{cardItem.phone}}</li>
                            <li class="list-group-item">{{cardItem.email}}</li>
                            <li class="list-group-item">{{cardItem.address}}</li>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <mat-card class="card-item">
                    <mat-card-header>
                        <mat-card-title>{{cardItem.name}}</mat-card-title>
                        <mat-card-subtitle>{{cardItem.title}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://avatars.githubusercontent.com/u/32604562?v=4" alt="Ali Can Yücel">
                    <mat-card-content>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{cardItem.phone}}</li>
                            <li class="list-group-item">{{cardItem.email}}</li>
                            <li class="list-group-item">{{cardItem.address}}</li>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <mat-card class="card-item">
                    <mat-card-header>
                        <mat-card-title>{{cardItem.name}}</mat-card-title>
                        <mat-card-subtitle>{{cardItem.title}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://avatars.githubusercontent.com/u/32604562?v=4" alt="Ali Can Yücel">
                    <mat-card-content>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{cardItem.phone}}</li>
                            <li class="list-group-item">{{cardItem.email}}</li>
                            <li class="list-group-item">{{cardItem.address}}</li>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <mat-card class="card-item">
                    <mat-card-header>
                        <mat-card-title>{{cardItem.name}}</mat-card-title>
                        <mat-card-subtitle>{{cardItem.title}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://avatars.githubusercontent.com/u/32604562?v=4" alt="Ali Can Yücel">
                    <mat-card-content>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{cardItem.phone}}</li>
                            <li class="list-group-item">{{cardItem.email}}</li>
                            <li class="list-group-item">{{cardItem.address}}</li>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <mat-card class="card-item">
                    <mat-card-header>
                        <mat-card-title>{{cardItem.name}}</mat-card-title>
                        <mat-card-subtitle>{{cardItem.title}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://avatars.githubusercontent.com/u/32604562?v=4" alt="Ali Can Yücel">
                    <mat-card-content>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{cardItem.phone}}</li>
                            <li class="list-group-item">{{cardItem.email}}</li>
                            <li class="list-group-item">{{cardItem.address}}</li>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <mat-card class="card-item">
                    <mat-card-header>
                        <mat-card-title>{{cardItem.name}}</mat-card-title>
                        <mat-card-subtitle>{{cardItem.title}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://avatars.githubusercontent.com/u/32604562?v=4" alt="Ali Can Yücel">
                    <mat-card-content>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{cardItem.phone}}</li>
                            <li class="list-group-item">{{cardItem.email}}</li>
                            <li class="list-group-item">{{cardItem.address}}</li>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</main>