<h2 mat-dialog-title>Yeni Kartvizit</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="cardForm">
        <mat-form-field class="example-full-width">
            <mat-label>Başlık</mat-label>
            <input matInput formControlName="title">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>İsim</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Telefon</mat-label>
            <input matInput formControlName="phone">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <textarea matInput formControlName="email"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Adres</mat-label>
            <input matInput formControlName="address">
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
<button mat-button [mat-dialog-close]="true">Vazgeç</button>
<button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ekle</button>
</mat-dialog-actions>