<mat-card class="card-item">
    <mat-card-header>
        <mat-card-title>{{card.name}}</mat-card-title>
        <mat-card-subtitle>{{card.title}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{card.phone}}</li>
            <li class="list-group-item">{{card.email}}</li>
            <small class="text-warning" *ngIf="!card.email">Eposta Adresi Girilmemiş.</small>
            <li class="list-group-item" *ngIf="card.address">{{card.address}}</li>
            <small class="text-warning" *ngIf="!card.address">Adres Girilmemiş.</small>
        </ul>
    </mat-card-content>
</mat-card>